



@media screen and (max-width: 480px) {


.animation-span{
	font-size: 2.37rem;
}
	.menu-header{
		font-size: 1.35rem;
	}
	.fun-hover{
		font-size: 1.25rem;
	}
	.fun-hover:hover{
		font-size: 1.1rem;
	}
	.header-about h2{
		font-size: 2rem;
	}
	.photo{
		width: 100%;
	}

	.contacts p{
    font-size: 1.2rem;
}


}

@media screen and (max-width: 333px) {

	.contacts p{
		font-size: 0.9rem;
	}
	.contacts h2{
		font-size: 2rem;
	}
	.menu-header{
		font-size: 1.2rem;
	}
}
